@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* Custom Fonts */
@font-face {
  font-family: 'Catamaran';
  src: url('/fonts/Catamaran/Catamaran-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant';
  src: url('/fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: "DancingScript";
  src: url('/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: "Doto";
  src: url('/fonts/Doto/Doto-VariableFont_ROND,wght.ttf') format('truetype');
}
